body {
	background-color: black;
	background-image: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(35,106,210,1) 40%, rgba(157,215,239,1) 100%);
}

#main {
	background-color: rgba(255,255,255,0.6);
	position: fixed;
	width: 70%;
	height: 80%;
	top: 10%;
    left: 15%;
	padding:0;
}

#title {
	margin-left: 10%;
	margin-top: 3%;
	font-family: courier;
}

#text {
	margin-left: 10%;
	font-family: courier;
}

#date {
	margin-left: 10%;
	font-family: courier;
	font-size: 0.8em;
}

#butt {
	background-color: rgba(255,255,255,0.5);
	font-family: courier;
	font-size: 1em;
	border: none;
	float: center;
}

#butt:hover {
	background-color: rgba(200, 200, 200, 0.5)
}


@media (max-width: 1000px){

	#main {
		width: 90%;
		left: 5%;
		height: 90%;
		top: 5%;
	}

	#text {
	margin-left: 5%;
	}

	#title {
	margin-left: 5%;
	}

}